{% extends 'base.html' %}

{% block content %}
{% for pet,cart in pets %}
<div class="row pt-3">
    <div class="col-8" onclick="window.location='{% url 'detail' pet.id %}';" style="cursor: pointer">
      <h2>{{ pet.name }}</h2>
      <h4>{{ pet.breed }}</h4>
      </div>
      <div class="col-4">
        {% if cart == 'n' %}
        <a href= "javascript:{document.getElementById('add{{pet.id}}').submit()}"><button class='btn btn-primary btn-xs'><h1>Add to cart +</h1></button></a>
        {% else %}
        <button class='btn btn-primary btn-xs'><h1>Added ✔︎</h1></button>
        {% endif %}
        </div>
  </div>
  <form id="add{{pet.id}}" method="POST" action="{% url 'add_to_cart' pet.id %}">
    {% csrf_token %}
    <input type="hidden"/>
    </form>
{% endfor %}
{% endblock %}
